.Rproj.user
.Rhistory
.RData
.Ruserdata
Data
Workflow/0_ITS-GM/Inputs/ITS_reads
Workflow/0_ITS-GM/Inputs/Databases
Workflow/0_ITS-GM/Outputs/track_GM.txt
Workflow/0_ITS-GM/Outputs/RData
Workflow/1_Reg-Farm/Outputs/Figures/*.pdf
Workflow/1_Reg-Farm/Outputs/Figures/*.svg
Workflow/1_Reg-Farm/Outputs/RData
Workflow/2_Exp-Cond/Outputs/RData
Workflow/3_RNAseq/Outputs/track_t1-GM.txt
Workflow/3_RNAseq/Outputs/track_t1-SGM.txt
Workflow/3_RNAseq/Outputs/Figures/*.pdf
Workflow/3_RNAseq/Outputs/Figures/*.svg
Workflow/3_RNAseq/Outputs/RData