.Rproj.user
.Rhistory
.RData
.Ruserdata
1_Reg-Farm/Inputs/ITS_reads
1_Reg-Farm/Inputs/Databases
1_Reg-Farm/Outputs/track_t0-GM.txt
1_Reg-Farm/Outputs/Figures/*.pdf
1_Reg-Farm/Outputs/Figures/*.svg
1_Reg-Farm/*.RData
1_Reg-Farm/wc0.5
1_Reg-Farm/gadm36_ESP_1_sp.rds
3_RNAseq/Inputs/ITS_reads
3_RNAseq/Inputs/Databases
3_RNAseq/Inputs/bracken.report.txt
3_RNAseq/Inputs/SMR_log.txt
3_RNAseq/Outputs/track_t1-GM.txt
3_RNAseq/Outputs/track_t1-SGM.txt
3_RNAseq/Outputs/Figures/*.pdf
3_RNAseq/Outputs/Figures/*.svg
3_RNAseq/*.RData