.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitignore
Wineteractions.Rproj 
3_RNAseq/Inputs/ITS_reads
3_RNAseq/Inputs/Databases
3_RNAseq/Inputs/bracken.report.txt
3_RNAseq/Inputs/SMR_log.txt
3_RNAseq/Outputs/track_t1-GM.txt
3_RNAseq/Outputs/track_t1-SGM.txt
3_RNAseq/Outputs/Figures/*.pdf
3_RNAseq/Outputs/Figures/*.svg
3_RNAseq/dada2_t1-SGM.RData
3_RNAseq/dada2_t1-GM.RData
3_RNAseq/dada2_t1-RNA.RData
3_RNAseq/comm.analysis_wnt.Rdata